function is_wsl() {
    grep -i "microsoft" /proc/version 2>&1 1>/dev/null
}

# Add custom binary and library path
export PATH=$HOME/local/bin:$PATH
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/local/lib:$HOME/local/lib64:$HOME/local/lib/x86_64-linux-gnu

export LS_OPTIONS='--color=auto'
eval "$(dircolors -b)"

